<!DOCTYPE html>
<html>
  <head>
    <title>oauth2-prototype</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Token</h1>
    <p><%= token %></p>
    <p><a href="/email?token=<%= token %>">email</a></p>
  </body>
</html>
