<!DOCTYPE html>
<html>
  <head>
    <title>oauth2-prototype</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>OAuth2 Token</h1>
    <p><%= oAuthToken %></p>
    <p><a href="/jwt?token=<%= oAuthToken %>">Trade token for JWT</a></p>
    <p><a href="/">Start over</a></p>
  </body>
</html>
