<!DOCTYPE html>
<html>
  <head>
    <title>oauth2-prototype</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>email</h1>
    <p><%= email %></p>
  </body>
</html>
