<!DOCTYPE html>
<html>
  <head>
    <title>oauth2-prototype</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>auth</h1>
    <p><a href="<%= authUrl %>">auth</a></p>
  </body>
</html>
