<!DOCTYPE html>
<html>
  <head>
    <title>oauth2-prototype</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>JWT token</h1>
    <p><%= data.token %></p>
    <h2>Decoded as</h2>
    <p><%= data.email %></p>
    <p><a href="/">Start over</a></p>
  </body>
</html>
